<a href="https://colab.research.google.com/github/maah-gabs/Python_do_zero/blob/master/Limpeza_dos_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 04: Aula 09 - Limpeza dos Dados 

Se a intenção é trabalhar com os dados, é importante que uma parte do seu tempo seja dedicada na preparação dos mesmos, sendo assim, a parte de limpeza é algo bem importante. E aí, com dados limpos e bem trabalhados, somos capazes de gerar insights importantes. 

A Biblioteca *Pandas* que consiste em uma das principais bibliotecas para Data Science, pois, é considerada uma das mais poderosas quando estamos falando sobre tratamento de dados. 

Os dados que estão disponíveis no mundo real são muito bagunçados e possuem muitos erros e formatações discrepantes que podem atrapalhar a análise de dados

## Exemplo 01: 

Neste exmplo, vamos utilizar os dados que estão disponibilizados no portal [Inside Airbnb](http://insideairbnb.com). 

Para esse notebook vamos utilizar dados que estão disponíveis no portal da cidade do Rio de Janeiro [aqui](https://data.insideairbnb.com/brazil/rj/rio-de-janeiro/2020-06-19/data/listings.csv.gz).

In [1]:
# Importando o Pandas
import pandas as pd

# Para não limitar a visualização do número de colunas 
pd.set_option('display.max_columns', None)

In [2]:
# Importando os dados 
df = pd.read_csv('http://data.insideairbnb.com/brazil/rj/rio-de-janeiro/2020-06-19/data/listings.csv.gz')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (61,62,94) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Visualizar as cinco primeiras entradas 
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,17878,https://www.airbnb.com/rooms/17878,20200619025839,2020-06-19,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",Discounts for long term stays. Please contact ...,"- Beautiful, sunny 2 bedroom (90 square meters...",Discounts for long term stays. Please contact ...,none,This is the one of the bests spots in Rio. Bec...,NaN,Excellent location. Close to all major attract...,The entire apartment is yours. It's like your ...,I will be available throughout your stay shoul...,Please leave the apartment in a clean fashion ...,NaN,NaN,https://a0.muscache.com/im/pictures/65320518/3...,NaN,68997,https://www.airbnb.com/users/show/68997,Matthias,2010-01-08,"Rio de Janeiro, State of Rio de Janeiro, Brazil",I am a journalist/writer. Lived for 15 years...,within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/67b13...,https://a0.muscache.com/im/pictures/user/67b13...,Copacabana,2.0,2.0,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,t,"Rio de Janeiro, Rio de Janeiro, Brazil",Copacabana,Copacabana,NaN,Rio de Janeiro,Rio de Janeiro,22020-050,Rio De Janeiro,"Rio de Janeiro, Brazil",BR,Brazil,-22.96592,-43.17896,t,Condominium,Entire home/apt,5,1.0,2.0,2.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",NaN,$191.00,NaN,NaN,$0.00,$250.00,2,$0.00,7,180,7,7,1125,1125,7.0,1125.0,4 months ago,t,0,6,36,287,2020-06-19,251,20,2010-07-15,2020-04-06,93.0,9.0,10.0,10.0,10.0,10.0,9.0,f,NaN,NaN,t,f,moderate,f,f,1,1,0,0,2.08
1,21280,https://www.airbnb.com/rooms/21280,20200619025839,2020-06-19,Renovated Modern Apt. Near Beach,Immaculately renovated top-floor apartment ove...,Immaculately renovated top-floor apartment in ...,Immaculately renovated top-floor apartment ove...,none,This is the best neighborhood in Zona Sul. Fo...,NaN,The new metro station is just a few steps away...,"This is an older ""Art Deco"" style building, so...",Someone will be there at check in and check ou...,This is a booking agreement for rental of a tw...,NaN,NaN,https://a0.muscache.com/im/pictures/60851312/b...,NaN,81163,https://www.airbnb.com/users/show/81163,Jules,2010-02-14,"Chicago, Illinois, United States",Hi I am Jules and I have a beautiful apartment...,within a few hours,100%,90%,f,https://a0.muscache.com/im/users/81163/profile...,https://a0.muscache.com/im/users/81163/profile...,Ipanema,0.0,0.0,"['email', 'phone', 'reviews', 'kba']",t,t,"Rio de Janeiro, RJ, Brazil",Ipanema,Ipanema,NaN,Rio de Janeiro,RJ,22420-010,Rio De Janeiro,"Rio de Janeiro, Brazil",BR,Brazil,-22.98467,-43.19611,t,Apartment,Entire home/apt,6,2.0,2.0,4.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",NaN,$424.00,"$4,945.00","$17,455.00","$2,647.00",$265.00,6,$0.00,5,30,5,5,30,30,5.0,30.0,4 months ago,t,19,49,79,93,2020-06-19,94,6,2014-02-14,2020-03-22,97.0,10.0,10.0,10.0,10.0,10.0,10.0,f,NaN,NaN,f,f,strict_14_with_grace_period,f,f,1,1,0,0,1.22
2,25026,https://www.airbnb.com/rooms/25026,20200619025839,2020-06-19,Beautiful Modern Decorated Studio in Copa,"Our apartment is a little gem, everyone loves ...",This newly renovated studio (last renovations ...,"Our apartment is a little gem, everyone loves ...",none,Copacabana is a lively neighborhood and the ap...,"For any stay superior to 15 days, an additiona...",At night we recommend you to take taxis only. ...,"internet wi-fi, cable tv, air cond, ceiling fa...","Only at check in, we like to leave our guests ...",Smoking outside only. Family building so pleas...,NaN,NaN,https://a0.muscache.com/im/pictures/3003965/68...,NaN,102840,https://www.airbnb.com/users/show/102840,Viviane,2010-04-03,"Rio de Janeiro, State of Rio de Janeiro, Brazil","Hi guys, We're a lovely team of 3 people:\r\n\...",within a day,70%,77%,f,https://a0.muscache.com/im/pictures/user/9e204...,https://a0.muscache.com/im/pictures/user/9e204...,Copacabana,3.0,3.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,"Rio de Janeiro, Rio de Janeiro, Brazil",Copacabana,Copacabana,NaN,Rio de Janeiro,Rio de Janeiro,22060-020,Rio De Janeiro,"Rio de Janeiro, Brazil",BR,Brazil,-22.97712,-43.19045,t,Apartment,Entire home/apt,2,1.0,1.0,2.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",NaN,$159.00,NaN,NaN,"$1,000.00",$250.00,2,$45.00,7,60,7,7,60,60,7.0,60.0,5 months ago,t,0,0,0,154,2020-06-19,238,7,2010-06-07,2020-02-15,94.0,9.0,9.0,9.0,10.0,10.0,9.0,f,NaN,NaN,f,f,strict_14_with_grace_period,t,t,3,3,0,0,1.95
3,31560,https://www.airbnb.com/rooms/31560,20200619025839,2020-06-19,NICE & COZY 1BDR - IPANEMA BEACH,This nice and clean 1 bedroom apartment is loc...,This nice and clean 1 bedroom apartment is loc...,This nice and clean 1 bedroom apartment is loc...,none,Die Nachbarschaft von Ipanema ist super lebend...,NaN,"Bus, U-Bahn, Taxi und Leihfahrräder in der Nähe.","Die Urlauber dürfen das Badezimmer benutzen, d...",NaN,"So far, I haven't had any problems with guests...",NaN,NaN,https://a0.muscache.com/im/pictures/83114449/2...,NaN,135635,https://www.airbnb.com/users/show/135635,Renata,2010-05-31,"Rio de Janeiro, Rio de Janeiro, Brazil",I was born and raised in Rio de (Website hidde...,NaN,NaN,100%,t,https://a0.muscache.com/im/users/135635/profil...,https://a0.muscache.com/im/users/135635/profil...,Ipanema,1.0,1.0,"['email', 'phone', 'manual_online', 'facebook'...",t,t,"Rio de Janeiro, RJ, Brazil",Ipanema,Ipanema,NaN,Rio de Janeiro,RJ,22410-003,Rio De Janeiro,"Rio de Janeiro, Brazil",BR,Brazil,-22.98302,-43.21427,t,Apartment,Entire home/apt,3,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",NaN,$344.00,NaN,NaN,$0.00,$106.00,2,$53.00,2,1125,2,2,1125,1125,2.0,1125.0,3 months ago,t,0,0,0,0,2020-06-19,282,25,2010-07-11,2020-03-02,96.0,10.0,10.0,10.0,10.0,10.0,10.0,f,NaN,NaN,t,f,strict_14_with_grace_period,f,f,1,1,0,0,2.33
4,35636,https://www.airbnb.com/rooms/35636,20200619025839,2020-06-20,Cosy flat close to Ipanema beach,This cosy apartment is just a few steps away ...,"The location is extremely convenient, safe and...",This cosy apartment is just a few steps away ...,none,The apartment street is very quiet and safe ....,Please include the following information with ...,Metro stop just 5 blocks from our place. Buses...,NaN,NaN,"Dear Guest, Welcome! We hope you enjoy our apa...",NaN,NaN,https://a0.muscache.com/im/pictures/20009355/3...,NaN,153232,https://www.airbnb.com/users/show/153232,Patricia,2010-06-27,"San Carlos de Bariloche, Rio Negro, Argentina","I am Brazilian and Carioca graphic designer, b...",within a few hours,100%,85%,f,https://a0.muscache.com/im/users/153232/profil...,https://a0.muscache.com/im/users/153232/profil...,Ipanema,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'man...",t,t,"Rio de Janeiro, Rio de Janeiro, Brazil",Ipanema,Ipanema,NaN,Rio de Janeiro,Rio de Janeiro,22081-020,Rio De Janeiro,"Rio de Janeiro, Brazil",BR,Brazil,-22.98816,-43.19359,t,Apartment,Entire home/apt,2,1.5,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",NaN,$482.00,NaN,"$12,313.00","$1,338.00",$219.00,2,$0.00,2,89,2,2,89,89,2.0,89.0,4 months ago,t,0,0,0,170,2020-06-20,181,23,2013-10-22,2020-03-15,94.0,10.0,9.0,10.0,10.0,10.0,9.0,f,NaN,NaN,f,f,strict_14_with_grace_period,t,t,1,1,0,0,2.23

Ao realizar uma análise inicial nas primeiras, já percebemos que a coluna `'price'` está em formato `string`, desta forma, será necessário transformar em formato numérico para que a couna possa ser utilizada.

In [4]:
# Verifcando as entradas da coluna price
df['price']

0        $191.00
1        $424.00
2        $159.00
3        $344.00
4        $482.00
          ...
35726    $349.00
35727     $59.00
35728    $145.00
35729    $244.00
35730    $392.00
Name: price, Length: 35731, dtype: object

Perceba, que em consequencia do formato do texto **não** será possível converter diretamente o valor acima em float. Para isso, deveremos tratar a coluna inicialmente. 

Para compreendermos melhor o processo, vamos manipular apenas uma variável e associar ela a uma String bem parecida com a que encontrams no nosso DataFrame.

In [5]:
# Associando o valor da variável 
valor = '$244.00'

Sabemos que para iniciar o processo de transformação da `String` em `Float`, precisamos tirar o $. Neste caso, utilizaremos o método `.replace ( )`.

In [6]:
# Limpando a variável 
float(valor.replace("$",''))

244.0

## Funções Lambda 

As funções lambdas, consistem naquelas que apresentam funções um pouco mais restritivas em Python. 
Quando a função for ser utilizada várias vezes no seu código, talvez seja melhor utilizar funções maiores, porém, como o intuito desta aula é fazer limpeza e a manipuação do DataSet, podemos utilizar uma função mais simples como a `lambda`.

In [9]:
# Exemplo de Função 
def elevar_quadrado(numero):
  resposta = numero ** 2 
  return resposta

In [10]:
elevar_quadrado(5)

25

In [11]:
# Exemplo de Função 

def somar_numeros (a,b):
  resultado = a + b
  return resultado

In [12]:
somar_numeros(3,5)

8

In [13]:
# "$244.00" ==> 244.00
def converter_str(minha_string):
  resposta = float(minha_string.replace("$", ""))
  return resposta

In [14]:
converter_str("$244.00")

244.0

In [15]:
# Criando uma função lambda
lambda x: float(x.replace("$",""))

Com a função pronta, vamos aplicar na coluna que queremos alterar.

In [16]:
df["price"].apply(converter_str)

ValueError: ignored

In [17]:
# aplicando a função à coluna
df["price"].apply(lambda x: float(x.replace("$", "")))

ValueError: ignored

Perceba acima, que mesmo ao tentar executar as duas funções, ela retorna o mesmo erro demonstrado acima, será que a gente consegue definir o que é? 

Veja, que ao especificar o erro o Python diz: 
`ValueError: could not convert string to float: '4,161.00'`, sabemos que o Python reconhece apenas ponto, então, no decorrer do nosso processo, acabamos perdendo a noção e "assumindo" que as estruturas de todo o dataset seriam apenas de "$", ou seja, o caractere que atrapalharia a conversão em float. Porém, o erro nos alertou para outra alteração que precisa ser feito. Sendo assim, temos que fazer uma outra limpeza, que será demonstrada na linha abaixo.

In [18]:
# Associanoo uma nova função a variável 
valor = "$4,161.00"

# Acrescentando um passo a função 
float(valor.replace(",", "").replace("$", ""))

4161.0

Agora, vamos aplicar a função a partir do que descobrimos acima.

In [19]:
df['price'].apply(lambda x:float(valor.replace(",", "").replace("$", "")))

0        4161.0
1        4161.0
2        4161.0
3        4161.0
4        4161.0
          ...
35726    4161.0
35727    4161.0
35728    4161.0
35729    4161.0
35730    4161.0
Name: price, Length: 35731, dtype: float64

## Exemplo 02 

Como segundo exemplo, vamos utilizar dados disponibilizados pelo [Kaggle](https://www.kaggle.com/ravels1991/brasil-solicitaes-de-refugiado?) sobre a situação dos refugiados no Brasil.

Os dados reais podem ser encontrados [aqui](https://www.kaggle.com/ravels1991/brasil-solicitaes-de-refugiado?).

In [20]:
# carregando dados 
df = pd.read_excel("https://www.dropbox.com/s/69pajozeme6ezjc/solicitacoes-de-reconhecimento-da-condicao-de-refugiado.xlsx?dl=1")

# Visualizar as 5 primeiros entradas 
df.head()

  Tipo de Alertas e Restrições Nacionalidade  Mês/Ano  UF  Quantidade
0       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  12/2001  DF           1
1       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  01/2010  DF           1
2       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  03/2010  DF           2
3       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  03/2010  SP           2
4       SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  08/2010  DF           1

Quando comparado com o outro conjunto de dados que utilizamos esse é bem mais simples, certo? Porém, ao plotar as cinco primeiras entradas acima, você perdebe que as Strings estão todas em letras maiúsculas e gostariamos de modifica - la.

In [21]:
# Verificando as entradas 
df['Tipo de Alertas e Restrições']

0        SOLICITAÇÃO DE REFÚGIO
1        SOLICITAÇÃO DE REFÚGIO
2        SOLICITAÇÃO DE REFÚGIO
3        SOLICITAÇÃO DE REFÚGIO
4        SOLICITAÇÃO DE REFÚGIO
                  ...
11651    SOLICITAÇÃO DE REFÚGIO
11652    SOLICITAÇÃO DE REFÚGIO
11653    SOLICITAÇÃO DE REFÚGIO
11654    SOLICITAÇÃO DE REFÚGIO
11655    SOLICITAÇÃO DE REFÚGIO
Name: Tipo de Alertas e Restrições, Length: 11656, dtype: object

In [23]:
# Aplicando o capitalize
df['Tipo de Alertas e Restrições'].apply(lambda x: x.capitalize())

0        Solicitação de refúgio
1        Solicitação de refúgio
2        Solicitação de refúgio
3        Solicitação de refúgio
4        Solicitação de refúgio
                  ...
11651    Solicitação de refúgio
11652    Solicitação de refúgio
11653    Solicitação de refúgio
11654    Solicitação de refúgio
11655    Solicitação de refúgio
Name: Tipo de Alertas e Restrições, Length: 11656, dtype: object

In [24]:
df

      Tipo de Alertas e Restrições Nacionalidade  Mês/Ano  UF  Quantidade
0           SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  12/2001  DF           1
1           SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  01/2010  DF           1
2           SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  03/2010  DF           2
3           SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  03/2010  SP           2
4           SOLICITAÇÃO DE REFÚGIO   AFEGANISTÃO  08/2010  DF           1
...                            ...           ...      ...  ..         ...
11651       SOLICITAÇÃO DE REFÚGIO         ÍNDIA  12/2018  PR           2
11652       SOLICITAÇÃO DE REFÚGIO         ÍNDIA  12/2018  SP          11
11653       SOLICITAÇÃO DE REFÚGIO         ÍNDIA  01/2019  SP          45
11654       SOLICITAÇÃO DE REFÚGIO         ÍNDIA  02/2019  SP          67
11655       SOLICITAÇÃO DE REFÚGIO         ÍNDIA  03/2019  SP          27

[11656 rows x 5 columns]

Perceba que ao chamar o DataFrame na execução anterior ainda não foi alterado, desta forma, precisamos armazenar essas alterações em uma variável, ação que faremos a seguir:

In [25]:
# Aplicando a função relacionada a coluna
df['Tipo de Alertas e Restrições']= df['Tipo de Alertas e Restrições'].apply(lambda x: x.capitalize())

In [26]:
df.head()

  Tipo de Alertas e Restrições Nacionalidade  Mês/Ano  UF  Quantidade
0       Solicitação de refúgio   AFEGANISTÃO  12/2001  DF           1
1       Solicitação de refúgio   AFEGANISTÃO  01/2010  DF           1
2       Solicitação de refúgio   AFEGANISTÃO  03/2010  DF           2
3       Solicitação de refúgio   AFEGANISTÃO  03/2010  SP           2
4       Solicitação de refúgio   AFEGANISTÃO  08/2010  DF           1

Agora o DataFrame está com o formato desejado. 

Agora, vamos fazer o mesmo com a coluna `Nacionalidade`.

In [27]:
# Aplicando a função 
df['Nacionalidade'] = df['Nacionalidade'].apply(lambda x: x.title())

In [28]:
# Verificando a alteração do DataSet 
df.head()

  Tipo de Alertas e Restrições Nacionalidade  Mês/Ano  UF  Quantidade
0       Solicitação de refúgio   Afeganistão  12/2001  DF           1
1       Solicitação de refúgio   Afeganistão  01/2010  DF           1
2       Solicitação de refúgio   Afeganistão  03/2010  DF           2
3       Solicitação de refúgio   Afeganistão  03/2010  SP           2
4       Solicitação de refúgio   Afeganistão  08/2010  DF           1

## Exemplo 03 

Para o último exemplo, vamos utilizar os dados relacionados a taxa de homicídio no Brasil em 2017. E os dados estão disponíveis no [Kaggle](https://www.kaggle.com/diegomariano/taxa-de-homicdios-no-brasil-no-ano-de-2017).

Neste exemplo, encontraremos uma outra dificuldade que é muito comum e que é necessário muita atenção. 

**OBS:** É muito importante conhecermos os dados muito bem.

In [29]:
# importando os dados
df = pd.read_csv("https://www.dropbox.com/s/16nz0yikhma091u/homicidios_brasil_2017.csv?dl=1")

In [30]:
df.head()

  UF;populacao;sigla;ano;homicidios;regiao
0            Acre;829619;AC;2017;516;norte
1    Alagoas;3375823;AL;2017;1813;nordeste
2           Amapá;797722;AP;2017;383;norte
3      Amazonas;4063614;AM;2017;1674;norte
4     Bahia;15344447;BA;2017;7487;nordeste

Apesar da importação ter sido feita da mesma forma como sempre fazemos, ao visualizar o nosso df, percebemos que ele está todo estranho e esse formato impede que trabalhemos com ele. 

Isso pode acontecer, porque alguns arquivos `csv` *(Comma Separated Values)* tem como separador padrão a vírgula "," e o arquivo que foi importado está utilizando o ponto e virgula como separador ( ; ). 

Esse é um problema muito simples e que pode ser resolvido de uma forma bem simples.

In [32]:
# carregando o arquivo com o separador correto
df = pd.read_csv("https://www.dropbox.com/s/16nz0yikhma091u/homicidios_brasil_2017.csv?dl=1", sep=";")

df

                     UF  populacao      sigla   ano  homicidios        regiao
0                  Acre     829619         AC  2017         516         norte
1               Alagoas    3375823         AL  2017        1813      nordeste
2                 Amapá     797722         AP  2017         383         norte
3              Amazonas    4063614         AM  2017        1674         norte
4                 Bahia   15344447         BA  2017        7487      nordeste
5                 Ceará    9020460         CE  2017        5433      nordeste
6      Distrito Federal    3039444         DF  2017         610  centro-oeste
7        Espírito Santo    4016356         ES  2017        1521       sudeste
8                 Goiás    6778772          G  2017        2901  centro-oeste
9              Maranhão    7000229         MA  2017        2180      nordeste
10          Mato Grosso    3344544         MT  2017        1102  centro-oeste
11   Mato Grosso do Sul    2713147         MS  2017         659  centro-oeste
12         Minas Gerais   21119536         MG  2017        4299       sudeste
13                 Pará    8366628         PA  2017        4575         norte
14              Paraíba    4025558         PB  2017        1341      nordeste
15               Paraná   11320892         PR  2017        2759           sul
16           Pernambuco    9473266         PE  2017        5419      nordeste
17                Piauí    3219257         PI  2017         626      nordeste
18  Rio Grande do Norte    3507003         RN  2017        2203      nordeste
19    Rio Grande do Sul   11322895         RS  2017        3316           sul
20       Rio de Janeiro   16718956         RJ  2017        6416       sudeste
21             Rondônia    1805788         RO  2017         554         norte
22              Roraima     522636         RR  2017         248         norte
23       Santa Catarina    7001161         SC  2017        1066           sul
24            São Paulo   45094866  São Paulo  2017        4631       sudeste
25              Sergipe    2288116         SE  2017        1313      nordeste
26            Tocantins    1550194         TO  2017         557         norte

Ao executar a linha acima e dar uma olhada rápida no conjunto de dados, percebemos que a Sigla de São Paulo e Goias estão escritas erradas. 

Precisamos consertar esse detalhe para que a gente possa fazer uma boa análise de dados. 

Para isso, vamos criar um dicionário que receberá como chave a entrada incorreta e como valor a correção. 

Depois a gente utilizará o método `.replace ( )` para que a correção seja aplicada.

In [33]:
# Criando o dicionário para correção 
correcao = {"G": "GO", "São Paulo": "SP"}

# Aplicando a correção 
df['sigla'] = df['sigla'].replace(correcao)

# Verificando o resultado
df

                     UF  populacao sigla   ano  homicidios        regiao
0                  Acre     829619    AC  2017         516         norte
1               Alagoas    3375823    AL  2017        1813      nordeste
2                 Amapá     797722    AP  2017         383         norte
3              Amazonas    4063614    AM  2017        1674         norte
4                 Bahia   15344447    BA  2017        7487      nordeste
5                 Ceará    9020460    CE  2017        5433      nordeste
6      Distrito Federal    3039444    DF  2017         610  centro-oeste
7        Espírito Santo    4016356    ES  2017        1521       sudeste
8                 Goiás    6778772    GO  2017        2901  centro-oeste
9              Maranhão    7000229    MA  2017        2180      nordeste
10          Mato Grosso    3344544    MT  2017        1102  centro-oeste
11   Mato Grosso do Sul    2713147    MS  2017         659  centro-oeste
12         Minas Gerais   21119536    MG  2017        4299       sudeste
13                 Pará    8366628    PA  2017        4575         norte
14              Paraíba    4025558    PB  2017        1341      nordeste
15               Paraná   11320892    PR  2017        2759           sul
16           Pernambuco    9473266    PE  2017        5419      nordeste
17                Piauí    3219257    PI  2017         626      nordeste
18  Rio Grande do Norte    3507003    RN  2017        2203      nordeste
19    Rio Grande do Sul   11322895    RS  2017        3316           sul
20       Rio de Janeiro   16718956    RJ  2017        6416       sudeste
21             Rondônia    1805788    RO  2017         554         norte
22              Roraima     522636    RR  2017         248         norte
23       Santa Catarina    7001161    SC  2017        1066           sul
24            São Paulo   45094866    SP  2017        4631       sudeste
25              Sergipe    2288116    SE  2017        1313      nordeste
26            Tocantins    1550194    TO  2017         557         norte